// font families
$heading: "Rubik", sans-serif;
$body: "Inter", sans-serif;

// font weights
$light: 300;
$regular: 400;
$bold: 700;

// breakpoints
$tablet: 768px;
$desktop: 1024px;

// light theme color scheme
@mixin light {
  --text: hsl(53, 100%, 96%);
  --background: hsl(240, 60%, 15%);
  --dark: hsl(240, 60%, 12%);
  --fade: hsl(200, 100%, 25%);
  --primary: hsl(200, 100%, 75%);
  --secondary: hsl(360, 100%, 65%);
}

// dark theme color scheme
@mixin dark {
  --text: hsl(240, 60%, 15%);
  --background: hsl(53, 100%, 96%);
  --dark: hsl(240, 60%, 12%);
  --fade: hsl(200, 100%, 25%);
  --primary: hsl(200, 100%, 75%);
  --secondary: hsl(360, 100%, 65%);
}
