// font families
$heading: "Rubik", sans-serif;
$body: "Inter", sans-serif;

// font weights
$light: 300;
$regular: 400;
$bold: 700;

// breakpoints
$tablet: 768px;
$desktop: 1024px;

// light theme color scheme
@mixin light {
  --color-text: #ffffff;
  --color-text-fade: #848484;
  --color-background: #0a1238;
  --color-dark: #0a102e;
  --color-primary: #80eaff;
  --color-primary-fade: #024350;
  --color-secondary: #ff4d4d;
  --color-secondary-fade: #8f3d3d;
  --color-black-fade: #000000bf;
  --color-green: #00ffaa;
  --color-green-fade: #3d8f74;
  --color-orange: #ffbf80;
  --color-orange-fade: #8f663d;
  --color-purple: #8080ff;
  --color-purple-fade: #3d3d8f;
}

// dark theme color scheme
@mixin dark {
  --color-text: #ffffff;
  --color-text-fade: #b3b3b3;
  --color-background: #0a1238;
  --color-dark: #0a102e;
  --color-primary: #80eaff;
  --color-primary-fade: #1f4147;
  --color-secondary: #ff4d4d;
  --color-secondary-fade: #8f3d3d;
  --color-black-fade: #000000bf;
  --color-green: #00ffaa;
  --color-green-fade: #3d8f74;
  --color-orange: #ffbf80;
  --color-orange-fade: #8f663d;
  --color-purple: #8080ff;
  --color-purple-fade: #3d3d8f;
}
