// font families
$heading: "Rubik", sans-serif;
$body: "Inter", sans-serif;

// font weights
$light: 300;
$regular: 400;
$bold: 700;

// breakpoints
$tablet: 768px;
$desktop: 1024px;

// light theme color scheme
@mixin light {
  --text: hsl(53, 100%, 96%);
  --background: hsl(240, 60%, 15%);
  --dark: hsl(240, 60%, 12%);
  --primary: hsl(200, 100%, 75%);
  --primary-fade: hsl(200, 100%, 25%);
  --secondary: hsl(360, 100%, 65%);
  --secondary-fade: hsl(360, 100%, 25%);
  --black-fade: hsla(0, 0%, 0%, 0.75);
  --green: hsl(160, 100%, 50%);
  --green-fade: hsl(160, 100%, 50%, 0.5);
  --orange: hsl(30, 100%, 60%);
  --orange-fade: hsl(30, 100%, 60%, 0.5);
  --purple: hsl(240, 100%, 75%);
  --purple-fade: hsl(240, 100%, 75%, 0.5);
}

// dark theme color scheme
@mixin dark {
  --text: hsl(240, 60%, 15%);
  --background: hsl(53, 100%, 96%);
  --dark: hsl(240, 60%, 12%);
  --primary: hsl(200, 100%, 75%);
  --primary-fade: hsl(200, 100%, 25%);
  --secondary: hsl(360, 100%, 65%);
  --secondary-fade: hsl(360, 100%, 25%);
  --black-fade: hsla(0, 0%, 0%, 0.75);
  --green: hsl(160, 100%, 50%);
  --green-fade: hsl(160, 100%, 50%, 0.5);
  --orange: hsl(30, 100%, 60%);
  --orange-fade: hsl(30, 100%, 60%, 0.5);
  --purple: hsl(240, 100%, 75%);
  --purple-fade: hsl(240, 100%, 75%, 0.5);
}
