@import "./config";

a.btn,
button.btn {
  min-width: fit-content;
  min-height: 2.625rem;
  width: fit-content;
  height: 2.625rem;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background: none;
  border: none;
  border-radius: 5px;

  white-space: nowrap;
  cursor: pointer;
  transition: 125ms;

  & > span {
    text-transform: none;
    font-family: $heading;
    font-size: 0.875rem;
    font-weight: bold;
  }

  & > svg {
    width: 1rem;
    height: 1rem;
  }

  &.contained,
  &.outlined:active {
    background: var(--primary);
    color: var(--dark);
    border: solid 1px var(--primary);
    box-shadow: 2px 2px 0 0 var(--dark);
    path {
      fill: var(--dark);
    }
  }

  &.warning {
    background: var(--dark);
    color: var(--secondary);
    border: solid 1px var(--secondary-fade);
    box-shadow: 2px 2px 0 0 var(--dark);
    path {
      fill: var(--secondary);
    }
    &:active {
      background: var(--secondary);
      path {
        fill: var(--text);
      }
    }
  }

  &.outlined,
  &.contained:active,
  &.text:active {
    background: var(--dark);
    color: var(--primary);
    border: solid 1px var(--primary-fade);
    box-shadow: 2px 2px 0 0 var(--dark);
    path {
      fill: var(--primary);
    }
  }

  &.text {
    background: var(--background);
    color: var(--text);
    border: solid 1px var(--background);
    path {
      fill: var(--text);
    }
  }

  &.rounded {
    border-radius: 50rem;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    height: 100%;
  }

  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  &.uppercase {
    & > span {
      text-transform: uppercase;
    }
  }

  &.lowercase {
    & > span {
      text-transform: lowercase;
    }
  }

  &.capitalize {
    & > span {
      text-transform: capitalize;
    }
  }
}

div.btn-group {
  min-width: fit-content;
  min-height: 2.625rem;
  width: 100%;
  height: fit-content;

  display: flex;
  overflow: hidden;

  & > button.btn {
    min-height: 2.625rem;
    width: 100%;
    height: fit-content;
    border-radius: 0;

    &.active {
      background: var(--primary-fade);
      color: var(--primary);
      border-bottom: solid 1px var(--primary);

      path {
        fill: var(--primary);
      }
    }

    &.inactive {
      background: var(--dark);
      color: var(--primary);
      border-bottom: solid 1px var(--primary-fade);

      path {
        fill: var(--primary);
      }
    }
  }
}
