@import "./config";

a.btn,
button.btn {
  min-width: fit-content;
  min-height: 2.625rem;
  width: fit-content;
  height: 2.625rem;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background: none;
  border: none;
  border-radius: 5px;

  white-space: nowrap;
  cursor: pointer;
  transition: 125ms;

  & > span {
    text-transform: uppercase;
    font-family: $heading;
    font-size: 0.875rem;
    font-weight: bold;
  }

  &.contained &.outlined:active {
    background: var(--primary);
    color: var(--dark);
    border: solid 1px var(--primary);
    box-shadow: 2px 2px 0 0 var(--dark);
    path {
      fill: var(--dark);
      stroke: var(--dark);
    }
  }

  &.outlined,
  &.contained:active,
  &.text:active {
    background: var(--dark);
    color: var(--primary);
    border: solid 1px var(--fade);
    box-shadow: 2px 2px 0 0 var(--dark);
    path {
      fill: var(--primary);
      stroke: var(--primary);
    }
  }

  &.text {
    background: var(--background);
    color: var(--text);
    border: solid 1px var(--background);
    path {
      fill: var(--text);
      stroke: var(--text);
    }
  }

  &.rounded {
    border-radius: 50rem;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    height: 100%;
  }

  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

div.btn-group {
  min-width: fit-content;
  min-height: 2.625rem;
  width: 100%;
  height: fit-content;

  border-radius: 30px;
  border: solid 1px var(--fade);
  box-shadow: 2px 2px 0 0 var(--dark);

  display: flex;
  overflow: hidden;

  & > button.btn {
    width: 100%;
    height: 100%;
    border-radius: 0;

    &.active {
      background: var(--primary);
      color: var(--dark);
      path {
        fill: var(--dark);
        stroke: var(--dark);
      }
    }

    &.inactive {
      background: var(--dark);
      color: var(--primary);
      path {
        fill: var(--primary);
        stroke: var(--primary);
      }
    }
  }
}
