@import "_config.scss";

div.btn-group {
  width: 100%;
  height: 2.625rem;

  border-radius: 30px;
  border: solid 1px var(--fade);
  box-shadow: 2px 2px 0 0 var(--dark);

  display: flex;
  overflow: hidden;

  & > button.btn {
    min-width: fit-content;
    min-height: 2.625rem;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    color: var(--primary);
    background: none;
    border: none;

    white-space: nowrap;
    cursor: pointer;
    transition: 125ms;

    & > span {
      text-transform: uppercase;
      font-family: $heading;
      font-size: 0.875rem;
      font-weight: bold;
    }

    &.active {
      background: var(--primary);
      color: var(--dark);
      border: solid 1px var(--primary);
      box-shadow: 2px 2px 0 0 var(--dark);
      path {
        fill: var(--dark);
      }
    }
  }
}
