@import "./config";

a.btn,
button.btn {
  min-width: fit-content;
  min-height: 2.625rem;
  width: fit-content;
  height: 2.625rem;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background: none;
  border: none;
  border-radius: 0.75rem;

  white-space: nowrap;
  cursor: pointer;
  transition: 125ms;

  & > span {
    font-family: $body;
    font-size: 0.875rem;
    font-weight: $bold;
  }

  &.contained {
    background: var(--color-primary-alt);
    border: solid 1px var(--color-primary-alt);
    color: var(--color-text);
    &:active {
      background: var(--color-background);
      color: var(--color-primary);
    }
  }

  &.warning {
    background: var(--color-dark);
    border: solid 1px var(--color-secondary-fade);
    color: var(--color-secondary);
    &:active {
      background: var(--color-secondary);
      color: var(--color-background);
    }
  }

  &.outlined {
    background: var(--color-dark);
    border: solid 1px var(--color-primary-fade);
    color: var(--color-primary);
    &:active {
      background: var(--color-primary);
      color: var(--color-background);
    }
  }

  &.text {
    background: var(--color-background);
    border: solid 1px var(--color-background);
    color: var(--color-text);
    &:active {
      color: var(--color-primary);
    }
  }

  &.rounded {
    border-radius: 50rem;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    height: 100%;
  }

  &.disabled {
    background: var(--color-primary-fade);
    border: solid 1px var(--color-primary-fade);
    color: var(--color-background);
    pointer-events: none;
  }
}

div.btn-group {
  min-width: fit-content;
  min-height: 2.625rem;
  width: 100%;
  height: fit-content;

  display: flex;
  overflow: hidden;
  background: var(--color-dark);
  border-radius: 0.75rem;
  padding: 0.25rem;

  & > button.btn {
    min-height: 2.625rem;
    width: 100%;
    height: fit-content;
    border-radius: 0.75rem;
    transition: background 250ms;

    &.active {
      background: var(--color-primary-fade);
      color: var(--color-primary);
    }

    &.inactive {
      color: var(--color-primary);
    }
  }
}
