button.btn,
a.btn {
  width: fit-content;
  height: 2.625rem;
  padding: 0.5rem 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-family: var(--sans);
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;

  border-radius: 5px;

  border: none;
  background: none;
  cursor: pointer;

  transition: 125ms ease-in-out;

  &.fill {
    width: 100%;
  }

  &.text {
    color: var(--black);

    &:hover {
      background: var(--gray);
    }
  }

  &.outlined {
    color: var(--blue);
    border: solid 1px var(--blue);

    &:hover {
      background: var(--blue-fade);
    }
  }

  &.contained {
    background: var(--blue);
    color: var(--white);

    &:hover {
      background: var(--blue-dark);
    }
  }
}
