@import "./config";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @include light;

  &.dark {
    @include dark;
  }

  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: $regular;
  font-family: $body;
}

a {
  text-decoration: none;
  color: var(--color-text);
  &:hover,
  &:focus {
    color: var(--color-primary);
  }
}

main {
  padding: 1rem 1rem 4.75rem;
  &.fullscreen {
    padding: 0;
  }
}

h1,
h2,
h3 {
  font-family: $heading;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

hr {
  background: var(--color-primary-fade);
  border: solid 0.5px var(--color-primary-fade);
}

small {
  font-size: 0.75rem;
}

label {
  color: var(--color-text-fade);
  font-weight: $regular;
  font-size: 0.875rem;
}

svg {
  width: 1rem;
  height: 1rem;
  path {
    fill: var(--color-text);
  }
}
