@import "_config.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @include light;

  &.dark {
    @include dark;
  }

  background-color: var(--background);
  color: var(--text);
  font-size: 1rem;
  font-weight: $regular;
  font-family: $body;
}

a {
  text-decoration: none;
}
