@import "./config";

a.google {
  position: relative;
  width: 15rem;
  height: 2.625rem;

  background: white;

  display: flex;
  border-radius: 0.75rem;
  overflow: hidden;

  &.fullWidth {
    width: 100%;
  }
}
