@import "_config.scss";

a.btn,
button.btn {
  min-width: 2.625rem;
  min-height: 2.625rem;
  width: 2.625rem;
  height: 2.625rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
  transition: 125ms;

  &.contained {
    background: var(--primary);
    &:active {
      border: solid 1px var(--text);
    }
  }

  &.outlined {
    border: solid 1px var(--text);
    border-radius: 5px;
  }

  &.rounded {
    border-radius: 50%;
  }

  &.text {
    background: none;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    height: 100%;
  }

  &:active {
    background: var(--primary);
  }
}
