@import "./config";

a.btn,
button.btn {
  min-width: 2.25rem;
  min-height: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text);
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
  transition: 125ms;

  &.primary {
    background: var(--color-primary);
    border: solid 1px var(--color-primary);
  }

  &.secondary {
    background: var(--color-secondary);
    border: solid 1px var(--color-secondary);
  }

  &.default {
    background: none;
    border: none;
  }

  &.warning {
    background: var(--color-red-alt);
    border: solid 1px var(--color-red-alt);
    &:active {
      background: var(--color-red);
      border: solid 1px var(--color-red);
    }
  }

  &:active {
    background: var(--color-secondary);
    border: solid 1px var(--color-primary);
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    height: 100%;
  }
}
