@import "./config";

a.btn,
button.btn {
  min-width: 2.625rem;
  min-height: 2.625rem;
  width: 2.625rem;
  height: 2.625rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
  transition: 125ms;
  svg {
    min-width: 1rem;
    min-height: 1rem;
    width: auto;
    height: 1rem;
    path {
      min-width: 1rem;
      min-height: 1rem;
      width: auto;
      height: 1rem;
    }
  }

  &.contained,
  &.outlined:active {
    background: var(--color-primary);
    border: solid 1px var(--color-primary);
    box-shadow: 2px 2px 0 0 var(--color-dark);
    path {
      fill: var(--color-dark);
    }
  }

  &.warning {
    background: var(--color-dark);
    border: solid 1px var(--color-secondary-fade);
    box-shadow: 2px 2px 0 0 var(--color-dark);
    path {
      fill: var(--color-secondary);
    }
    &:active {
      background: var(--color-secondary);
      path {
        fill: var(--color-text);
      }
    }
  }

  &.outlined,
  &.contained:active,
  &.text:active {
    background: var(--color-dark);
    border: solid 1px var(--color-primary-fade);
    box-shadow: 2px 2px 0 0 var(--color-dark);
    path {
      fill: var(--color-primary);
    }
  }

  &.text {
    background: var(--color-background);
    border: solid 1px var(--color-background);
    path {
      fill: var(--color-text);
    }
  }

  &.rounded {
    border-radius: 50%;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    height: 100%;
  }

  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
