@import "./config";

div.mainmenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1px auto 0;
  height: 100vh;
  display: flex;
  justify-content: center;

  & > div.menu {
    position: relative;
    width: 100%;
    height: min-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    background: var(--color-background);
    border-bottom: solid 1px var(--color-primary-fade);
    z-index: 99;

    overflow: hidden;

    & > div.top {
      padding: 1rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      & > div.avatar {
        position: relative;
        width: 5rem;
        height: 5rem;

        border-radius: 0.75rem;
        overflow: hidden;
      }

      & > div.info {
        flex-grow: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        & > div.user {
          font-weight: $bold;
          font-size: 1rem;
        }
      }
    }

    & > div.links {
      padding: 0 1rem;

      border-top: solid 1px var(--color-primary-fade);
      border-bottom: solid 1px var(--color-primary-fade);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      & > div.link {
        width: 100%;
        border-bottom: solid 1px var(--color-primary-fade);
        &:last-of-type {
          border-bottom: none;
        }
        a {
          padding: 1rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1.5rem;
          & > span {
            font-weight: $bold;
            font-size: 0.875rem;
          }
          &:active {
            background: var(--color-primary-fade);
          }
        }
      }
    }

    & > div.bottom {
      padding: 1rem;
    }
  }
  & > button.underlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--color-black-fade);
    display: block;
    z-index: 80;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
