@import "./config";

div.posts {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 3rem;

  display: flex;
  flex-flow: column nowrap;

  gap: 1rem;
}

@media screen and (min-width: $desktop) {
  div.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
