div.profile-bio {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  & > div.group {
    width: 100%;
    & > div.label {
      margin: 0.5rem 0;
      font-size: 0.75rem;
    }
    & > div.content {
      line-height: 1.5rem;
    }
  }
}
