div.profile-banner {
  position: relative;
  width: 100%;
  height: 30rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;

  & > div.profile-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  & > div.profile {
    width: 100%;
    height: 50%;

    padding: 2rem 4rem;
    color: var(--white);

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;

    gap: 2rem;

    & > div.profile-avatar {
      position: relative;

      width: 15%;
      padding-bottom: 15%;

      border-radius: 5px;
      overflow: hidden;
    }

    & > div.profile-info {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.75rem;

      font-size: 0.875rem;

      & > div.profile-display-name {
        font-size: 1.5rem;
      }

      & > div.profile-stats {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25rem;

        & > div.row {
          display: flex;
          flex-flow: row nowrap;
          gap: 1rem;
          font-family: var(--serif);

          & > div.group {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            & > i {
              font-size: 0.75rem;
            }

            & > span {
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  & > div.profile-controls {
    padding: 1rem 2rem;
  }
}
