@import "./config";

div.select {
  position: relative;
  width: 100%;
  height: 2.625rem;

  & > select {
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 1.5rem;

    background: var(--color-dark);
    color: var(--color-text);
    border: solid 1px var(--color-primary-fade);
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 var(--color-dark);

    text-transform: capitalize;
    font-size: 1rem;
    font-family: $heading;
    font-weight: bold;

    & > option {
      background: var(--color-background);
      color: var(--color-text);
    }

    &:focus {
      outline: none;
    }
  }

  & > div.arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1px;
    width: 2rem;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-dark);
    border-radius: 5px;
    pointer-events: none;
  }
}
