@import "./config";

div.select {
  position: relative;
  width: 100%;
  height: 2.625rem;

  & > select {
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 1.5rem;

    background: var(--color-dark);
    color: var(--color-primary);
    border: solid 1px var(--color-primary-fade);
    border-radius: 0.75rem;

    text-transform: capitalize;
    font-size: 0.875rem;
    font-family: $body;
    font-weight: bold;

    & > option {
      background: var(--color-background);
      color: var(--color-text);
    }

    &:focus {
      outline: none;
    }
  }

  & > div.arrow {
    position: absolute;
    bottom: 2px;
    right: 2px;
    top: 2px;
    width: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-dark);
    color: var(--color-primary);
    border-radius: 100%;
    pointer-events: none;
  }
}
