@import "./config";

div.select {
  position: relative;
  width: 100%;
  height: 2.25rem;

  & > select {
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 0.75rem;

    background: var(--color-secondary);
    color: var(--color-text);
    border: solid 1px var(--color-secondary);
    border-radius: 5px;

    text-transform: capitalize;
    font-size: 0.875rem;
    font-family: $rubik;
    font-weight: $bold;

    & > option {
      background: var(--color-secondary);
      color: var(--color-text);
    }

    &:focus {
      outline: none;
    }
  }

  & > div.arrow {
    position: absolute;
    bottom: 2px;
    right: 2px;
    top: 2px;
    padding-right: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-secondary);
    color: var(--color-gray);
    pointer-events: none;
  }
}
