@import "./config";

div.stat {
  width: 100%;
  padding: 0.125rem 0.5rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  font-family: $rubik;
  font-size: 0.75rem;
  color: var(--color-gray);
  svg > * {
    fill: currentColor;
  }
}
