@import "_config.scss";

div.stat {
  width: 100%;
  padding: 0.125rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}
