@import "./config";

div.tag {
  height: 1.25rem;
  padding: 0 0.5rem;

  background: var(--color-secondary);
  color: var(--color-gray);
  border-radius: 5px;

  display: flex;
  align-items: center;

  font-size: 0.75rem;
  text-transform: capitalize;
}
