@import "./config";

textarea.textarea {
  min-height: 2.25rem;
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem;

  background: var(--color-secondary);
  color: var(--color-text);
  border: solid 1px var(--color-primary-alt);
  border-radius: 5px;

  font-size: 0.875rem;
  font-family: $inter;

  resize: none;

  &.fullHeight {
    min-height: 7.625rem;
    height: 7.625rem;
  }

  &:focus {
    outline: none;
    border: solid 1px var(--color-primary);
  }
}
