@import "./config";

div.status {
  height: 1.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1.5rem;
  border: solid 1px var(--primary-fade);
  color: var(--primary);

  font-size: 0.75rem;
  font-weight: $bold;
  text-transform: uppercase;
  white-space: nowrap;

  &.member {
    border-color: var(--purple-fade);
    color: var(--purple);
  }
  &.moderator {
    border-color: var(--orange-fade);
    color: var(--orange);
  }
  &.administrator {
    border-color: var(--green-fade);
    color: var(--green);
  }
  &.banned {
    border-color: var(--secondary-fade);
    color: var(--secondary);
  }
}
