@import "./config";

div.status {
  height: 1.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1.5rem;
  border: solid 1px var(--color-primary-fade);
  color: var(--color-primary);

  font-size: 0.75rem;
  font-weight: $bold;
  text-transform: uppercase;
  white-space: nowrap;

  &.member {
    border-color: var(--color-purple-fade);
    color: var(--color-purple);
  }
  &.moderator {
    border-color: var(--color-orange-fade);
    color: var(--color-orange);
  }
  &.administrator {
    border-color: var(--color-green-fade);
    color: var(--color-green);
  }
  &.banned {
    border-color: var(--color-secondary-fade);
    color: var(--color-secondary);
  }
}
