@import "./config";

div.status {
  height: 1.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  border: solid 1px var(--color-primary);
  color: var(--color-primary-text);

  font-size: 0.75rem;
  font-weight: $bold;
  text-transform: capitalize;
  white-space: nowrap;

  &.member {
    border-color: var(--color-purple-alt);
    color: var(--color-purple);
  }
  &.moderator {
    border-color: var(--color-orange-alt);
    color: var(--color-orange);
  }
  &.administrator {
    border-color: var(--color-green-alt);
    color: var(--color-green);
  }
  &.banned {
    border-color: var(--color-red-alt);
    color: var(--color-red);
  }
}
