@import "../config";

div.post {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2.5rem;

  hr {
    margin: 0 0 1rem;
  }

  & > div.image-container {
    width: 100%;
    text-align: center;

    > div {
      position: unset !important;
    }

    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  & > div.row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    &.tags {
      gap: 0.25rem;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &.stats {
      justify-content: flex-start;
    }

    &.title {
      justify-content: space-between;
    }

    &.user {
      gap: 0.5rem;
      justify-content: space-between;

      & > a.profile {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;

        & > div.avatar {
          position: relative;
          width: 2.5rem;
          height: 2.5rem;
          min-width: 2.5rem;
          min-height: 2.5rem;
          border-radius: 0.75rem;
          overflow: hidden;
        }

        & > div.creator {
          width: 100%;

          display: flex;
          flex-flow: column nowrap;

          & > div.display-name {
            font-size: 0.875rem;
            font-weight: $bold;
          }

          & > div.upload-date {
            font-size: 0.75rem;
            font-weight: $regular;
            color: var(--color-gray);
          }
        }
      }
    }

    &.tabs {
      justify-content: flex-start;
      overflow-x: auto;
    }

    &.description {
      flex-flow: column nowrap;
      padding: 0.5rem;
      background: var(--color-secondary);
      border-radius: 5px;
    }

    &.comments {
      flex-flow: column nowrap;
      gap: 1rem;

      & > div.comment {
        width: 100%;
        padding: 0.5rem;

        background: var(--color-secondary);
        border-radius: 5px;

        & > div.header {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          gap: 0.5rem;

          & > a.commenter {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 0.5rem;

            & > div.avatar {
              position: relative;
              width: 2.25rem;
              height: 2.25rem;
              min-width: 2.25rem;
              min-height: 2.25rem;

              border-radius: 0.5rem;
              overflow: hidden;
            }

            & > div.info {
              width: 100%;
              display: flex;
              flex-flow: column nowrap;

              & > span {
                font-size: 0.75rem;
                color: var(--color-gray);
              }
            }
          }
        }
        & > div.body {
          & > p {
            margin-top: 0.5rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }
      }
    }

    & > p {
      line-height: 1.5rem;
      letter-spacing: 0.125px;
    }
  }

  & > .new-comment {
    position: fixed;
    min-height: 3.75rem;
    height: fit-content;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;

    z-index: 100;

    &.control {
      right: 1.5rem;
      bottom: 4.5rem;
    }

    &.field {
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.5rem;

      background: var(--color-background);
      border-top: solid 1px var(--color-secondary);
    }
  }
}

form.new-comment.field.desktop {
  display: none;
}

div.share {
  max-width: 70ch;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  div.row {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 0.75rem;
    opacity: 0.5;
  }

  div.icons {
    display: flex;
  }

  a.icon {
    min-width: 2.25rem;
    min-height: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    &:active {
      background: var(--color-secondary);
      border: solid 1px var(--color-primary);
    }
  }
}

@media screen and (min-width: $desktop) {
  div.share {
    a.icon {
      &:hover {
        background: var(--color-secondary);
        border: solid 1px var(--color-primary);
      }
    }
  }

  div.post {
    & > div.image-container {
      .image {
        height: 80vh !important;
      }
    }

    & > div.row {
      width: 70ch;
    }

    & > .new-comment {
      display: none;
    }
  }

  form.new-comment.field.desktop {
    & > div {
      width: 100%;
      display: flex;
      gap: 0.5rem;
      & > div.avatar {
        position: relative;
        width: 2rem;
        height: 2rem;
      }
    }
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 0.5rem;
  }
}

div.warningmsg {
  color: var(--color-red);
  text-align: center;
  font-size: 0.75rem;
}
