@import "../config";

div.post {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;

  & > div.image-container {
    width: 100%;

    > div {
      position: unset !important;
    }

    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  & > div.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    &.tags {
      gap: 0.25rem;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &.stats,
    &.title {
      justify-content: space-between;
    }

    &.user {
      gap: 0.5rem;
    }

    &.tabs {
      justify-content: flex-start;
      overflow-x: auto;
    }

    &.description,
    &.comments {
      flex-flow: column nowrap;
    }

    & > p {
      line-height: 1.5rem;
      letter-spacing: 0.125px;
    }

    & > div.avatar {
      position: relative;
      width: 3rem;
      height: 3rem;
      min-width: 3rem;
      min-height: 3rem;
      border-radius: 5px;
      overflow: hidden;
    }

    & > div.creator {
      width: 100%;

      display: flex;
      flex-flow: column nowrap;
      gap: 0.125rem;

      & > div.display-name {
        font-size: 1.125rem;
        font-weight: bold;
        font-family: $heading;
      }

      & > div.real-name {
        font-size: 0.75rem;
      }
    }

    & > div.comment {
      width: 100%;

      & > div.header {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;

        & > div.avatar {
          position: relative;
          width: 2rem;
          height: 2rem;
          min-width: 2rem;
          min-height: 2rem;

          border-radius: 50%;
          overflow: hidden;
        }

        & > div.info {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;

          & > span {
            font-size: 0.75rem;

            &.date {
              opacity: 0.75;
            }
          }
        }
      }
      & > div.body {
        padding: 0.5rem 1rem;
        margin: 0.5rem 1rem 1rem;
        border-radius: 0 1rem 1rem 1rem;
        background-color: var(--dark);

        & > p {
          margin: 0.5rem 0;
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
      }
    }
  }

  & > .new-comment {
    position: fixed;
    min-height: 3.75rem;
    height: fit-content;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;

    z-index: 100;

    &.control {
      right: 1.5rem;
      bottom: 4.5rem;
    }

    &.field {
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.5rem;

      background: var(--background);
      border-top: solid 1px var(--fade);
    }
  }
}
