@import "../config";

div.profile {
  display: flex;
  flex-flow: column nowrap;

  & > div.row {
    &.banner {
      position: relative;
      width: 100%;
      height: 10rem;
    }

    &.avatar {
      position: relative;

      align-self: center;

      width: 7rem;
      height: 7rem;
      margin-top: -3.5rem;

      border-radius: 0.75rem;
      overflow: hidden;
    }

    &.user {
      margin: 1rem 0;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      font-family: $heading;

      & > span {
        font-size: 0.875rem;
        font-weight: $light;
      }
    }

    &.stats {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &.tabs {
      margin: 1rem 0;
      justify-content: flex-start;
      overflow-x: auto;
      padding: 0.125rem;
    }

    &.about {
      padding: 1rem;

      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;

      background: var(--color-primary-fade);
      border-radius: 0.75rem;

      & > div.info {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25rem;

        & > small {
          font-weight: $bold;
          color: var(--color-primary);
        }

        & > span,
        & > div {
          font-size: 0.875rem;
        }

        & > div {
          display: flex;
          flex-flow: column nowrap;
          & > p {
            margin: 0 0 0.5rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}
