@import "../config";

div.profile {
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  & > div.controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  & > div.row {
    &.banner {
      position: relative;
      width: 100%;
      height: 10rem;
    }

    &.avatar {
      position: relative;

      align-self: center;

      width: 7rem;
      height: 7rem;
      margin-top: -3.5rem;

      border-radius: 0.75rem;
      overflow: hidden;
    }

    &.user {
      margin: 1rem 0;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      font-family: $rubik;

      & > span {
        font-size: 0.875rem;
        font-weight: $light;
      }
    }

    &.stats {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &.tabs {
      margin: 1rem 0;
      justify-content: flex-start;
      overflow-x: auto;
    }

    &.about {
      padding: 1rem;

      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;

      background: var(--color-secondary);
      border-radius: 0.75rem;

      & > div.info {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25rem;

        &.warning {
          & > small {
            color: var(--color-red);
          }
        }

        & > small {
          font-weight: $bold;
          color: var(--color-primary-text);
        }

        & > span,
        & > div {
          font-size: 0.875rem;
        }

        & > div {
          display: flex;
          flex-flow: column nowrap;
          & > p {
            margin: 0 0 0.5rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}

div.works {
  div.controls {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: $desktop) {
  div.works {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }
  div.profile {
    & > div.row {
      &.about,
      &.stats,
      &.tabs {
        width: 70ch;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
