@import "../config";

div.settings {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;

  & > div.row {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;

    &.header {
      gap: 0.125rem;
    }

    &.avatar {
      align-items: flex-start;

      & > div.image {
        position: relative;
        min-width: 12rem;
        min-height: 12rem;
        width: 12rem;
        height: 12rem;

        border-radius: 100%;
        overflow: hidden;
      }

      & > div.avatar-controls {
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
      }
    }

    &.banner {
      & > div.image {
        position: relative;
        width: 100%;
        height: 10rem;
      }
      & > div.banner-controls {
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
      }
    }

    &.default {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1rem;

      & > div.group {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25rem;
      }
    }

    &.form {
      & > form {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        & > div.group {
          height: fit-content;
          display: flex;
          flex-flow: column nowrap;
          gap: 0.25rem;
        }

        & > div.form-controls {
          display: flex;
          flex-flow: row nowrap;
          gap: 1rem;
        }
      }
    }
  }
}
